.env.example
*.env
.env.example
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
*.log
.env
.venv
.vscode/
__pycache__/
env/
venv/
ENV/
build/
break-free-mind-app-firebase-adminsdk-fbsvc-331a2359b1.json